.profile-page{
    /* width: 99vw; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    /* border: 2px solid brown; */
}

.profile-page *{
    overflow: hidden;
}

.profile-form-container{
    width: 35rem;
    height: 25rem;
    max-width: 100%;
    margin: 0;
    padding: 0;
    /* border: 1px solid blue; */
}

.container{
    width: 100%;  
    height: 100%;
}

.outer-row{
    width: 100%;  
    height: 100%;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

.right-col{
    background-color: #aca;
}

.right-top-inner-row{
    /* width: 110%;   */
    height: 67%;
    font-size: medium;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .right-bottom-inner-row{
    width: 100%;  
    height: 42%;
} */

.profile-img{
    width: 80% !important;
    border-radius: 50%;
}

.right-fullName{
  text-align: center;
  word-wrap: break-word;
  margin: 1rem 0 0 0 !important;
  padding: 0;
} 

.right-bottm-inner-row{
    /* border: 1px solid red; */
    padding: 0 10%;
}
/* .exit-button{
} */

.left-top-inner-row{
    background-color: #aca;
    width: 100%;  
    height: 10%;
    align-content: center;
    font-size:medium;
    font-weight: bold;
    padding-right: 15px;
}

.left-bottom-inner-row{
    width: 100%;  
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    padding: 20% 0;
    /* background-color: yellow; */
}

.inner-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    /* justify-content:center; */
    height: 100%;
    /* border: 1px solid black; */
}

.inner-form>*{
    width: 80%;
    /* margin: 1rem 0 !important;     */
}

.editFailed{
    margin-top: 10px;
    text-align: center;
}